header {
  text-align: center;
  font-size: 30px;
  color: #279EFF;
  padding: 5%;
}

main, html {
  margin: 10px;
  padding: 5% 24px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C356A;
}

.container {
  text-align: center;
  display: block; 
  padding: 10px 24px;
  justify-content: center; 
  align-items: center;
}

.button {
  padding: 5%;
  margin: 1%;
  font-size: 150%;
  border: 1px solid #ffffff;
  background-color: #3498db;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #2977ac;
}

/* Haciendo la pagina responsive  */

/* @media screen and (max-with:1200px){
  .button {
    display: block;
  } 
}*/